body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 600px;
  background-color: #1e1e2f;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  max-height: 90vh;
}

.chat-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ff9f43;
}

.chat-window {
  flex: 1;
  /* border: 2px solid #33334d; */
  border-radius: 10px;
  /* background-color: #2a2a40; */
  margin-bottom: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 15px;
  padding: 10px 15px;
  background: #3b3b53;
  border-radius: 8px;
  border: white 1px ;
  color: white;
  position: relative;
}

.chat-username {
  font-weight: bold;
  color: #ea7a7a;
}

.chat-text {
  margin-left: 5px;
  display: inline-block;
  color: #f0f0f0;
}

.reaction-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reaction-button {
  border: none;
  background-color: inherit;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.reaction-button:hover {
  /* background-color: #55557a; */
  transform: scale(1.33);
}

.three-dots {
  background: transparent;
  margin-left: auto;
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 40px;
  bottom: 10px;
  background-color: #2a2a40;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-item {
  padding: 5px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #33334d;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #4c4c6a;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #33334d;
  color: white;
}

.message-box {
  height: 60px;
  resize: none;
}

.send-button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #ff4757;
}
